* {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  color: rgb(216, 216, 216);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("images/firewatch.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.container {
  background-color: rgba(26, 26, 26, 0.68);
  border: rgb(82, 82, 82);
  width: 280px;
  padding: 5px;
  font-size: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  transition: 0.5s ease;
  align-items: center;
  display: block;
  justify-content: center;
}

.container:hover {
  transform: translate(-50%, -50%) scale(1.05);
  transition: 0.5s ease;
  background-color: rgba(26, 26, 26, 1);
}
.container h1 {
  margin: auto;
  color: rgb(255, 145, 0);
}

h1 {
  width: 250px;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-inline-start: 25px;
  margin-bottom: -5px;
  margin-top: -5px;
}

.image {
  display: block;
  width: 270px;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  border: 1.5px solid rgb(87, 87, 87);
  margin: 5px;
  padding: 0px;
  align-content: center;
}
.interesting-fact {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 4px;
}

ul {
  padding-inline-start: 30px;
  align-items: center;
}

li {
  list-style: none;
  padding: 0;
}

li span {
  font-weight: bold;
  color: rgb(0, 206, 206);
}

.facts {
  width: 250px;
}

.summary {
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
}
